.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/*/.DS_Store

*/.idea/
*/.editorconfig
*/.jshintrc
*/*/node_modules/
*/*/platforms/
*/*/plugins/
*/www/content/lib/

target
*/app/content/lib/
*/*/.temp
.idea/
*.iml
*.mwb.bak
*.orig
*/*/www/*
*/*/dist/*
*/*/.vscode/*
*/*/package-lock.json
*/*/.sourcemaps/*
web/node_modules/
web/package-lock.json
web/dist/
*.log